body{
    background-color:#2f2c2b;
}

.btn-default {
    border: 1px solid #a8eb42;
    color: #42b2dc;
    }

@media (min-width: 768px){ 
 .intro .intro-body .brand-heading {
    font-size: 59px;
  }

.btn-default {
    border: 1px solid #42b2dc;
    color: #a8eb42;
    }
    


}
h1, h2,h3,h4,h5,h6{
    font-weight:400;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 16px;
    border: 3px solid #a8eb42;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.bt-circle:hover,
.btn-circle:focus {
  
  color: #a8eb42;
  
}